  page,
  view,
  text,
  image,
  button {
    font-family: 'PingFang SC', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei',
      'WenQuanYi Micro Hei', sans-serif;
    box-sizing: border-box;
		margin: 0;
		padding: 0;
  }

  image {
    width: 100%;
    height: 100%;
  }
