{layout name="layout2" /}
<div style="padding: 20px 30px 0 0;">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color: red;">*</span>标题</label>
            <div class="layui-input-block">
                <input type="text" name="name" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" style="width: 300px">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color: red;">*</span>排序</label>
            <div class="layui-input-block">
                <input type="number" name="sort" required  lay-verify="required" placeholder="请输入排序" autocomplete="off" class="layui-input" style="width: 300px" value="255">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color: red;">*</span>内容</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="content" lay-verify="content" name="content" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="add">确认</button>
        </div>
    </form>
</div>
<script>
    layui.config({
        version:"{$front_version}",
        base: '/static/lib/'
    }).extend({
        likeedit: 'likeedit/likeedit'
    }).use(['table', 'form', 'element', 'likeedit'], function() {
        var $ = layui.$
            ,form = layui.form
            , likeedit = layui.likeedit;

        likeedit.set({
            uploadImage: {
                url: '{:url("file/lists")}?type=10',
                type: 'post'
            }
        });
        var content = likeedit.build('content'); //建立编辑器
        form.verify({
            content: function() {
                likeedit.sync(content)
            }
        })


        //监听提交
        form.on('submit(add)', function(data){
            $.ajax({
                url : 'add',
                type : 'post',
                dataType : 'json',
                data : data.field,
                success : function (res) {
                    if (res.code == 1) {
                        layer.msg(res.msg, {icon:1,time:1500, shade:0.4}, function (){
                            //当你在iframe页面关闭自身时
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layui.table.reload('like-table-lists');
                            parent.layer.close(index); //再执行关闭
                        });
                    }else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }
            })
            return false;
        });
    });
</script>