{layout name="layout2" /}
<style>
    .layui-form-label {
        color: #6a6f6c;
        width: 100px;
    }
    .layui-input-block {
        margin-left: 130px;
    }
    .tips{
        color: red;
    }
    .unit-tips{
        float: left;
        display: block;
        padding: 9px 0!important;
        line-height: 20px;
        margin-right: 10px;
    }
    .goods{
        display: none;
    }

</style>
<div style="padding: 20px 30px 0 0;">
    <form class="layui-form" action="">
        <input type="hidden" name="id" value="{$detail.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">桌号</label>
            <div class="layui-input-block">
                <input type="text" name="number" required  lay-verify="required" placeholder="请输入桌号" autocomplete="off" class="layui-input" value="{$detail.number}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" name="remarks" placeholder="请输入备注" autocomplete="off" class="layui-input" value="{$detail.remarks}">
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="edit">确认</button>
        </div>
    </form>
</div>
<script>
    var goods_ids = [];
    layui.config({
        version:"{$front_version}",
        base: '/static/lib/' //静态资源所在路径
    }).use(['table','form','laydate'], function(){
        var $ = layui.$
            ,form = layui.form;


        //监听提交
        form.on('submit(edit)', function(data){
            var parameter = JSON.stringify(data.field);
            $.ajax({
                url : 'edit',
                type : 'post',
                dataType : 'json',
                data : data.field,
                success : function (res) {
                    if (res.code == 1) {
                        layer.msg(res.msg, {icon:1,time:1500, shade:0.4}, function (){
                            //当你在iframe页面关闭自身时
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layui.table.reload('like-table-lists');
                            parent.layer.close(index); //再执行关闭
                        });
                    }else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }
            })
            return false;
        });
    });
</script>