{layout name="layout2" /}
<div style="padding: 30px;display: flex;justify-content: space-between" id="qrcode">
    <div>
        <input type="hidden" value="{$result.id}" id="id"/>
        <p style="float: left;">小程序二维码：</p>
        <div style="float: left;width: 200px;text-align: center">
            <img src="{$result.mnp_qrcode}" style="width: 200px;height: 200px;margin-bottom: 15px">
            <a href="{$result.mnp_qrcode}" class="layui-btn layui-btn-normal" download="{$result.number}-mnp_qrcode">下载</a>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div>
        <p style="float: left;">H5二维码：</p>
        <div style="float: left;width: 200px;text-align: center">
            <img src="{$result.h5_qrcode}" style="width: 200px;height: 200px;margin-bottom: 15px">
            <a href="{$result.h5_qrcode}" class="layui-btn layui-btn-normal" download="{$result.number}-h5_qrcode">下载</a>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
<div style="text-align: center;">
    <button type="button" class="layui-btn layui-bg-red" id="update_qrcode">更新二维码</button>
</div>
<script>
    layui.config({
        version:"{$front_version}",
        base: '/static/lib/' //静态资源所在路径
    }).use(['table','form','laydate'], function(){
        var $ = layui.$
            ,form = layui.form;

        var id = $("#id").val();
        $('#update_qrcode').on('click', function(){
            var loadIndex = layer.msg('更新中', {
                icon: 16,
                shade: 0.01
            });
            like.ajax({
                url:'{:url("desk/updateQrcode")}',
                data:{id:id},
                type:"post",
                success:function(res)
                {
                    layer.close(loadIndex)
                    if(res.code == 1)
                    {
                       layer.msg('更新成功', {
                            offset: '15px'
                            , icon: 1
                            , time: 1000
                        });
                        var qrcodeHtml =  $('#qrcode').html();
                        $('#qrcode').html(qrcodeHtml);
                    } else {
                        layer.msg(res.msg, {
                            offset: '15px'
                            , icon: 2
                            , time: 1000
                        });
                    }
                },
                error:function () {
                    layer.close(loadIndex)
                    layer.msg('更新失败', {
                        offset: '15px'
                        , icon: 2
                        , time: 1000
                    });
                }
            });
        });
    });
</script>